<div class="form-group" data-ng-class="{'active-field':$ctrl.field.active}" data-ng-hide="$ctrl.field.hide">
  <label for="{{$ctrl.field.name}}" class="control-label" data-ng-hide="!$ctrl.field.label">{{$ctrl.field.label || 'undefined'}}</label>
  <div data-ng-repeat="item in $ctrl.field.items" class="checkbox">
    <label class="i-checks">
      <input type="checkbox" ng-true-value="'{{item.value}}'" name="$ctrl.field.name" data-ng-disabled="$ctrl.field.disable" ng-model="$ctrl.formData[$ctrl.field.name]"> <i></i> {{item.label || 'undefined'}}</label>
  </div>
</div>
