<app-header>
</app-header>

<div class="canvas-content">
    <section role="main" class="container-fluid forms-list1">

        <div class="row pt-3">
            <div class="col-sm-3">
                <div class="card add-form-card">
                    <div class="card-body card-body text-center d-flex align-middle align-items-center justify-content-center">
                        <a class="content" ui-sref="new-form">
                            <label class="add">+</label>
                            <p class="">Add</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" ng-repeat="form in $ctrl.forms track by $index">
                <div class="card">
                    <div class="card-header">
                        <div class="form-type-container">
                            <span class="form-type application web">
                                <i class="fa fa-television" aria-hidden="true"></i>
                                <span class="ng-binding">Web</span>
                            </span>
                            <span class="form-authority pull-right">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span class="text-capitalize ng-binding">owner</span>
                            </span>
                        </div>
                    </div>
                    <div class="card-body card-body text-center d-flex align-middle align-items-center justify-content-center">
                        <div class="form-title">
                            <div class="form-details">
                                <a name="wm-form-JobsBox" ui-sref="form-composer({id:form.id})" title="{{form.formName}}" class="form-link">
                                    <h1 class="card-title">
                                        {{form.formName}}
                                    </h1>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <p><i class="fa fa-eye" aria-hidden="true"></i> 1 View </p>
                        <div class="form-operations">
                            <button type="reset" class="btn btn-sm btn-danger" ng-click="$ctrl.confirmDeleteForm($index)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
</div>
