.navbar li a {
    text-shadow: 0 0 0 #000;
    &:hover {
        background: transparent;
    }
}

app-header {
    display: block;
    .navbar {
        border-radius: 0;
    }
    .navbar{
        margin-bottom: 0;
    }
    .navbar-brand {
        padding: 0;
        text-shadow: 0 0 0 black;
        &:hover {
            cursor: pointer;
        }
        .menu-name {
            margin-left: 10px;
            font-weight: 600;
            display: inline-block;
            padding: 15px 20px;
            font-size: 16px;
            color: #b2b2b2;
            height: 48px;
            cursor: default;
            text-transform: capitalize;
        }
    }
    .navbar.app--header {
        background-color: #101010;
        border-radius: 0;
        font-size: 1em;
        position: relative;
        border: none;
        border-bottom: 1px solid #373737;
        color: #fff;
        min-height: 48px;
    }
    .logo {
        display: inline-block;
        padding: 12px;
        text-align: center;
        background-color: #2f2f2f;
        width: 56px;
        height: 50px;
        color: #1794ef;
    }

    .app--nav{
        &.navbar {
            min-height: 36px;
            border: 0;
            background-color: #292929;
            border-radius: 0;
            li>a {
                padding: 7px;
                color: #f5f3f3;
            }
            li.active a {
                background-color: #3f3f3f;
                border-top: 2px solid #1794ef;
                color: #f5f3f3;
            }
        }
        // border-bottom: 1px #222 solid;
        padding-left: 20px;
        padding-right: 20px;
        height: 36px;
    }


    .forms--sub-nav {
        padding: 0 20px;
        border-bottom: 1px rgba(0,0,0,.1) solid;
        background-color: #fff;
        min-height: auto;
        li > a {
            padding: 10px;
        }
    }

    .forms--actions {
        border-bottom: 1px rgba(0,0,0,.1) solid;
        background-color: #e3e2e3;
        padding: 10px 20px;
        height: 48px;

    }

    
}