fields-widget {
    .widget-accord {
        height: 100%;
        background-color: #404040;
        .panel-title {
            background: #171717;
            display: block;
            height: 36px;
            line-height: 36px;
        }
    }
}