  <div class="form-group" data-ng-class="{'active-field':vm.field.active}" data-ng-hide="vm.field.hide">
    <label for="{{vm.field.name}}" class="control-label">{{vm.field.label || "undefined"}}</label>
    <select ng-if="!vm.field.multi" class="form-control" name="{{vm.field.name}}" ng-model="vm.formData[vm.field.name]" ng-change="onChange(data)" data-ng-disabled="vm.field.disable">
      <option data-ng-selected="'true'" value="">{{vm.field.placeholder}}</option>
      <option value="{{item.value}}" data-ng-repeat="item in vm.options">{{item.label}}</option>
    </select>

    <select ng-if="vm.field.multi" multiple class="form-control" name="{{vm.field.name}}" ng-model="vm.formData[vm.field.name]" ng-change="onChange(data)" data-ng-disabled="vm.field.disable">
      <option value="{{item.value}}" data-ng-repeat="item in vm.options">{{item.label}}</option>
    </select>

<form-error-msgs field-name="vm.formName[vm.field.name]"></form-error-msgs>

  </div>
