form-builder-design {
    display: block;
    padding: 10px;

    .no-field{
        width: 100%;
        h2 {
            height: 80px;
            line-height: 80px;
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.handle {
    position: relative;
    top: 50%;
    cursor: move;
    z-index: 1;
}

.field-dnd-placeholder {
    display: block;
    background-color: #ddd;
    padding: 10px 15px;
    min-height: 42px;
}

[dnd-list] {
    .dndDraggingSource {
        display: none;
    }

    .dndPlaceholder {
        background-color: #ddd;
        display: block;
        min-height: 88px;
    }

    .f-list {
        display: flex;
        position: relative;
        .delete {
            position: absolute;
            top: 2px;
            right: 8px;
        }
    }

    .selected {
        background-color: rgba(228, 228, 228, 0.61);
    }

    dnd-nodrag {
        flex: 1;
    }

    field-builder {
        display: flex;
        flex: 1;
    }
}
